{{- $page := . -}}
<div class="list-entry">
  <a href="{{ $page.Permalink }}" class="list-entry-title">{{ $page.Title }}</a>
  {{ with $page.Description }}
    <div class="list-entry-desc">{{ . }}</div>
  {{ end }}
  {{ if eq $page.Section "blog" }}
    {{ if not $page.Date.IsZero }}
      <div class="list-entry-meta">{{ $page.Date.Format "January 2006" }}</div>
    {{ end }}
  {{ else if eq $page.Section "projects" }}
    {{ with $page.Params.stack }}
      <div class="list-entry-meta">{{ . }}</div>
    {{ end }}
  {{ end }}
</div>
