{{- $showAuthor := .Params.showAuthor | default (.Site.Params.article.showAuthor | default true) -}}
{{- if and $showAuthor (eq .Section "posts") -}}
  {{- $lazy := .Params.enableImageLazyLoading | default .Site.Params.enableImageLazyLoading | default true -}}
  {{- $altText := .Site.Language.Params.Author.name | default "Author" -}}
  <div class="author-card">
    {{- with .Site.Language.Params.Author.image -}}
      {{- $authorImage := resources.Get . -}}
      {{- if $authorImage -}}
        <div class="author-card-photo">
          {{- partial "picture.html" (dict "img" $authorImage "alt" $altText "class" "author-card-img" "lazy" $lazy) -}}
        </div>
      {{- end -}}
    {{- end -}}
    <div class="author-card-body">
      <div class="author-card-label">About the Author</div>
      {{- with .Site.Language.Params.Author.name -}}
        <div class="author-card-name">{{ . }}</div>
      {{- end -}}
      {{- with .Site.Language.Params.Author.headline -}}
        <div class="author-card-headline">{{ . }}</div>
      {{- end -}}
      {{- with .Site.Language.Params.Author.bio -}}
        <div class="author-card-bio">{{ . | markdownify }}</div>
      {{- end -}}
      <div class="author-card-links">
        {{- partialCached "author-links.html" . -}}
      </div>
    </div>
  </div>
{{- end -}}
